
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>International Communications-TLCM</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- IE=edge Compatible
  ================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- CSS
  ================================================== -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">




<!-- Favicons
	================================================== -->
<!-- <link rel="icon" type="image/png" sizes="16x16" href="images/logo.png"> -->
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand logo" th:href="@{/}"> <img
				src="/css/logo.jpg" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link active"
						th:href="@{/monitoring}">Monitoring</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/inventory}">Inventory</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Reports</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/configuration}">Configuration</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/reseller}">Administration</a></li>
				</ul>

				<div class="form-inline my-2 my-lg-0">
		
					<!-- 	<div class="header-right">
						<ul>


							<li><a href="#"><i class="fa fa-headphones"></i> Support</a></li>
							<li><a href="#">Share</a></li>
							<li><a href="#"><i class="fa fa-question"></i>?</a></li>





							<li><a th:text="${user.firstName}"><i class="fa fa-user"></i></a>
								<table>
									<tbody th:each="role : ${user.roles}" th:remove="tag">
										<tr>
											<div th:switch="${role.name}">
												<p th:case="ROLE_ADMIN"></p>
												<p th:case="ROLE_USER"></p>

											</div>


											<td th:text="${role.name}">...</td>
										</tr>

									</tbody>
								</table></li>
							<li><a th:href="@{/logout}"><i class="fa fa-logout"></i>Logout</a></li>
						</ul>

					</div> -->


				</div>
			</div>
		</nav>
		<div class="main-nav">
			<nav class="navbar navbar-expand-lg">

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupported2" aria-controls="navbarSupported2"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupported2">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/reseller/getreseller}">View Reseller</a></li>
				
						<li class="nav-item"><a class="nav-link"
							th:href="@{/reseller}">Resellers </a></li>



					</ul>


				</div>
			</nav>
		</div>
	</header>
	<!-- All Javascript include here for fast loading of page -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>