<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">


<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>International Communications-TLCM</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- IE=edge Compatible
  ================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />  
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="components/navbar :: navigationBar"></div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 center">
				<h1 class="head-txt">Assign Device</h1>
				<form th:action="@{/host/assign}" th:object="${userHostDto}"
					method="post">
					<h3>
						<span class="alert-success" th:utext="${successMsg}"></span>
					</h3>
					<div class="form-group">
						<label for="orgDropDown">Select Customer</label> <select
							class="form-control selectpicker"
							th:field="${userHostDto.customerId}" id="orgDropDown" size="10"
							required="required">
							<option value="0" disabled="disabled">Select Customer</option>
							<option th:each="customer : ${customerList}"
								th:value="${customer.id}" th:text="${customer.firstName}"></option>
						</select> <span th:if="${#fields.hasErrors('customerId')}"
							th:errors="*{customerId}" class="text-danger"></span>
					</div>
					<div class="form-group ">
						<label for="orgDropDown">Select Devices</label> <select
							class="form-control selectpicker"
							th:field="${userHostDto.hostIds}" id="orgDropDown" size="10"
							multiple="multiple" required="required">
							<option value="0">select Devices</option>
							<option th:each="host : ${hostList}" th:value="${host.hostId}"
								th:text="${host.name}"></option>
						</select> <span th:if="${#fields.hasErrors('hostIds')}"
							th:errors="*{hostIds}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block cst-btn-bg">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
</body>