<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>International Communications-TLCM</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- IE=edge Compatible
  ================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- CSS
  ================================================== -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet">
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">





</head>

<body>



	<header>
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand logo" th:href="@{/}"> 
			<img th:src="@{/css/logo.jpg}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link active"
						th:href="@{/monitoring}">Monitoring</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/inventory}">Inventory</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Reports</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/configuration}">Configuration</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/administration}">Administration</a></li>
				</ul>

				<div class="form-inline my-2 my-lg-0">
				</div>
			</div>
		</nav>
		<div class="main-nav">
			<nav class="navbar navbar-expand-lg">

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupported2" aria-controls="navbarSupported2"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupported2">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/inventory/get}">View Inventory</a></li>







					</ul>


				</div>
			</nav>
		</div>
	</header>


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"></div>
		</div>
	</nav>

	<br>
	<br>


	<div class="container my-2">
		<div class="card is-shady">
			<div class="card-body">
				<div class="col-md-12">
					<div class="table-outer">
						<div class="custom-table table-responsive">

							<div>
								<table id="table"
								class="table table-bordered table-striped table-responsive-md"
								>
									<thead class="thead-bg">
										<tr>
											<th>Device Name</th>
											<th>Serial No</th>
											<th>Mac Address</th>
											<th>Reseller</th>
											<th>Edit</th>
											<th>Delete</th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="inv : ${invList}">
											<td th:text="${inv.name}"></td>
											<td th:text="${inv.serialNumber}"></td>
											<td th:text="${inv.macaddress}"></td>
                                            <td th:text="${inv.reseller.name}"></td>
											<td><a
												th:href="@{/inventory/update/{id}(id=${inv.id})}"
												class="btn btn-primary round-btn-clc"><i class="fas fa-user-edit ml-2"></i></a></td>
											
                                          <td><a data-toggle="modal" data-target="#modal-warning"
												th:attr="data-target='#modal-warning'+${inv.id }"
												class="btn btn-primary  round-btn-clc"> <i
													class="fas fa-user-times ml-2"></i>
											</a>
											</td>
											<!-- MODAL START-->
											
														<!-- -- MODAl  -->
											<div class="modal modal-warning fade in"
												th:id="modal-warning+${inv.id }">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<span aria-hidden="true">×</span>
															</button>
															<h5 class="modal-title">Delete Inventory</h5>
														</div>
														<div class="modal-body">
															<h3>Are you sure want to delete this Inventory?</h3>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-outline pull-left"
																data-dismiss="modal">Close</button>
															<a type="button" class="btn btn-outline"
																th:href="@{/inventory/delete/{id}(id=${inv.id})}"><i
																class="fa fa-check"></i>&nbsp;Yes</a>
														</div>
													</div>
												</div>
											</div>
											
											<!-- MODAL END -->

										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




 
	<!-- All Javascript include here for fast loading of page -->
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	
</body>

</html>