<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access denied</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link href="../static/css/error.css" th:href="@{/css/error.css}" rel="stylesheet" />
<link
	href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption'
	rel='stylesheet' type='text/css'>
	
</head>
<body>
	<div class="error">
		<div class="container-floud">
			<div class="col-xs-12 ground-color text-center">
				<div class="container-error-404">
					<div class="clip">
						<div class="shadow">
							<span class="digit thirdDigit"></span>
						</div>
					</div>
					<div class="clip">
						<div class="shadow">
							<span class="digit secondDigit"></span>
						</div>
					</div>
					<div class="clip">
						<div class="shadow">
							<span class="digit firstDigit"></span>
						</div>
					</div>
					<div class="msg">
						OH!<span class="triangle"></span>
					</div>
				</div>
				<h2 class="h1">Sorry! Page not found</h2>
			</div>
		</div>
	</div>
	<!-- Error Page -->
<script type="text/javascript" th:src="@{/js/error.js}"></script>

</body>
</html>